<?xml version="1.0" encoding="utf-8"?>
<Aga8Calc xsi:noNamespaceSchemaLocation="Aga8Calc.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://localhost:4850/freeopcua/server/</OpcUrl>
  <OpcUser>Aga8Calc_user</OpcUser>
  <OpcPassword>Aga8_Password</OpcPassword>
  <DefaultNamespaceURI>http://karsto.sas.io</DefaultNamespaceURI>
  <Interval>10000.0</Interval>
  <EquationOfState>Gerg2008</EquationOfState>
  <!--ReadOnly>true</ReadOnly-->
  <ConfigList>
    <Config Name="GC 1">
      <Composition SamplingInterval="190000">
        <Component Name="Methane" RelativePath="Aga8/Composition/Methane" ScaleFactor="0.01" />
        <Component Name="Nitrogen" Identifier="i=4" ScaleFactor="0.01" />
        <Component Name="CarbonDioxide" NodeId="ns=2;i=5" ScaleFactor="0.01" />
        <Component Name="Ethane" RelativePath="Aga8/Composition/Ethane" ScaleFactor="0.01" />
        <Component Name="Propane" RelativePath="Aga8/Composition/Propane" ScaleFactor="0.01" Value="3.0" />
        <Component Name="IsoButane" RelativePath="Aga8/Composition/IsoButane" ScaleFactor="0.01" />
        <Component Name="NormalButane" RelativePath="Aga8/Composition/NormalButane" ScaleFactor="0.01" />
        <Component Name="IsoPentane" RelativePath="Aga8/Composition/IsoPentane" ScaleFactor="0.01" />
        <Component Name="NormalPentane" NamespaceURI="http://karsto.sas.io" RelativePath="Aga8/Composition/NormalPentane" ScaleFactor="0.01" />
        <Component Name="Hexane" RelativePath="Aga8/Composition/Hexane" ScaleFactor="0.01" />
        <Component Name="Heptane" RelativePath="Aga8/Composition/Heptane" ScaleFactor="0.01" />
        <Component Name="Octane" RelativePath="Aga8/Composition/Octane" ScaleFactor="0.01" />
        <Component Name="Nonane" RelativePath="Aga8/Composition/Nonane" ScaleFactor="0.01" />
        <Component Name="Decane" RelativePath="Aga8/Composition/Decane" ScaleFactor="0.01" />
        <Component Name="Hydrogen" RelativePath="Aga8/Composition/Hydrogen" ScaleFactor="0.01" />
        <Component Name="Oxygen" RelativePath="Aga8/Composition/Oxygen" ScaleFactor="0.01" />
        <Component Name="CarbonMonoxide" RelativePath="Aga8/Composition/CarbonMonoxide" ScaleFactor="0.01" />
        <Component Name="Water" RelativePath="Aga8/Composition/Water" ScaleFactor="0.01" />
        <Component Name="HydrogenSulfide" RelativePath="Aga8/Composition/HydrogenSulfide" ScaleFactor="0.01" />
        <Component Name="Helium" RelativePath="Aga8/Composition/Helium" ScaleFactor="0.01" />
        <Component Name="Argon" RelativePath="Aga8/Composition/Argon" ScaleFactor="0.01" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 1">
          <PressureFunction MathFunction="Max">
            <Pressure Name="PF 1" Identifier="i=25" Unit="barg" />
            <Pressure Name="PF 2" Identifier="i=25" Unit="barg" SamplingInterval="1000" />
          </PressureFunction>
          <TemperatureFunction MathFunction="Max">
            <Temperature Name="PF 1" Identifier="i=26" Unit="C" />
            <Temperature Name="PF 2" Identifier="i=26" Unit="C" SamplingInterval="5000" />
          </TemperatureFunction>
          <Properties>
            <Property RelativePath="Aga8/Properties/CompressibilityFactor" Property="CompressibilityFactor" Type="double" />
            <Property RelativePath="Aga8/Properties/Density" Property="Density" Type="double" />
            <Property RelativePath="Aga8/Properties/Enthalpy" Property="Enthalpy" Type="double" />
            <Property RelativePath="Aga8/Properties/Entropy" Property="Entropy" Type="double" />
            <Property Identifier="s=GibbsEnergy" Property="GibbsEnergy" Type="double" />
            <Property NodeId="ns=2;g=974e3ac2-a38d-f33e-252c-6f2747b3a812" Property="InternalEnergy" Type="double" />
            <Property NodeId="ns=2;b=M/RbKBsRVkePCePcx24oRA==" Property="IsentropicExponent" Type="double" />
            <Property RelativePath="Aga8/Properties/IsobaricHeatCapacity" Property="IsobaricHeatCapacity" Type="double" />
            <Property RelativePath="Aga8/Properties/IsochoricHeatCapacity" Property="IsochoricHeatCapacity" Type="double" />
            <Property RelativePath="Aga8/Properties/JouleThomsonCoefficient" Property="JouleThomsonCoefficient" Type="double" />
            <Property RelativePath="Aga8/Properties/MolarConcentration" Property="MolarConcentration" Type="double" />
            <Property RelativePath="Aga8/Properties/MolarMass" Property="MolarMass" Type="double" />
            <Property RelativePath="Aga8/Properties/SpeedOfSound" Property="SpeedOfSound" Type="double" />
            <Property NamespaceURI="http://examples.freeopcua.github.io" Identifier="i=13" Property="SpeedOfSound" Type="double" />

            <!-- Invalid entries -->
            <Property RelativePath="Invalid_Path" Property="SpeedOfSound" Type="double" />
            <Property Identifier="Invalid_Identifier_Syntax" Property="SpeedOfSound" Type="double" />
            <Property Identifier="s=Invalid_Identifier" Property="SpeedOfSound" Type="double" />
            <Property NodeId="Invalid_NodeId_Syntax" Property="SpeedOfSound" Type="double" />
            <Property NodeId="ns=2;s=Invalid_Identifier_in_nodeid" Property="SpeedOfSound" Type="double" />
            <Property NamespaceURI="http://invalid-uri.io" Identifier="i=13" Property="SpeedOfSound" Type="double" />
            <Property NodeId="nsu=http://karsto.sas.io;s=GibbsEnergy" Property="GibbsEnergy" Type="double" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>

    <Config Name="GC 2">
      <Composition>
        <Component Name="Methane" ScaleFactor="1.0" Value="0.821" />
        <Component Name="Nitrogen" ScaleFactor="1.0" Value="0.154" />
        <Component Name="CarbonDioxide" ScaleFactor="1.0" Value="0.0221" />
        <Component Name="Ethane" ScaleFactor="1.0" Value="0.111" />
        <Component Name="Propane" ScaleFactor="1.0" Value="0.031" />
        <Component Name="IsoButane" ScaleFactor="1.0" Value="0.021" />
        <Component Name="NormalButane" ScaleFactor="1.0" Value="0.0821" />
        <Component Name="IsoPentane" ScaleFactor="1.0" Value="0.02821" />
        <Component Name="NormalPentane" ScaleFactor="1.0" Value="0.01821" />
        <Component Name="Hexane" ScaleFactor="1.0" Value="0.07821" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 2">
          <PressureFunction>
            <Pressure Name="PF 1" Identifier="s=1:AI1001?Pressure" Unit="barg" />
          </PressureFunction>
          <TemperatureFunction>
            <Temperature Name="PF 1" Identifier="s=1:AI1001?Temperature" Unit="C" />
          </TemperatureFunction>
          <Properties>
            <Property Identifier="s=1:AI1002?Result" Property="MolarConcentration" Type="single" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>
  </ConfigList>
</Aga8Calc>