<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://localhost:4840/freeopcua/server/</OpcUrl>
  <OpcUser></OpcUser>
  <OpcPassword></OpcPassword>
  <DefaultNamespaceURI>http://karsto.sas.io</DefaultNamespaceURI>
  <Interval>1000.0</Interval>
  <EquationOfState>Gerg2008</EquationOfState>
  <ConfigList>
    <Config Name="GC 1">
      <Composition>
        <Component Name="Methane" Identifier="i=29" Tag="ns=2;s=1:AI1001?A" ScaleFactor="0.01" />
        <Component Name="Nitrogen" Identifier="i=30" Tag="ns=2;s=1:AI1001?J" ScaleFactor="0.01" />
        <Component Name="CarbonDioxide" Identifier="i=31" Tag="ns=2;s=1:AI1001?K" ScaleFactor="0.01" />
        <Component Name="Ethane" Identifier="i=32" Tag="ns=2;s=1:AI1001?B" ScaleFactor="0.01" />
        <Component Name="Propane" Identifier="i=33" Tag="ns=2;s=1:AI1001?C" ScaleFactor="0.01" />
        <Component Name="IsoButane" Identifier="i=34" Tag="ns=2;s=1:AI1001?D" ScaleFactor="0.01" />
        <Component Name="NormalButane" Identifier="i=35" Tag="ns=2;s=1:AI1001?E" ScaleFactor="0.01" />
        <Component Name="IsoPentane" Identifier="i=36" Tag="ns=2;s=1:AI1001?F" ScaleFactor="0.01" />
        <Component Name="NormalPentane" Identifier="i=37" Tag="ns=2;s=1:AI1001?G" ScaleFactor="0.01" />
        <Component Name="Hexane" Identifier="i=38" Tag="ns=2;s=1:AI1001?I" ScaleFactor="0.01" />
        <Component Name="Heptane" Identifier="i=39" ScaleFactor="0.01" />
        <Component Name="Octane" Identifier="i=40" ScaleFactor="0.01" />
        <Component Name="Nonane" Identifier="i=41" ScaleFactor="0.01" />
        <Component Name="Decane" Identifier="i=42" ScaleFactor="0.01" />
        <Component Name="Hydrogen" Identifier="i=43" ScaleFactor="0.01" />
        <Component Name="Oxygen" Identifier="i=44" ScaleFactor="0.01" />
        <Component Name="CarbonMonoxide" Identifier="i=45" ScaleFactor="0.01" />
        <Component Name="Water" Identifier="i=46" ScaleFactor="0.01" />
        <Component Name="HydrogenSulfide" Identifier="i=47" ScaleFactor="0.01" />
        <Component Name="Helium" Identifier="i=48" ScaleFactor="0.01" />
        <Component Name="Argon" Identifier="i=49" ScaleFactor="0.01" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 1">
          <PressureFunction MathFunction="Max">
            <Pressure Name="PF 1" Identifier="i=51" Unit="barg" />
            <Pressure Name="PF 2" Identifier="i=51" Unit="barg" />
          </PressureFunction>
          <TemperatureFunction MathFunction="Max">
            <Temperature Name="PF 1" Identifier="i=52" Unit="C" />
            <Temperature Name="PF 2" Identifier="i=52" Unit="C" />
          </TemperatureFunction>
          <Properties>
            <Property Identifier="i=54" Property="Density" Type="double" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>

    <!--
    <Config Name="GC 2">
      <Composition>
        <Component Name="Methane" ScaleFactor="1.0" Value="0.821" />
        <Component Name="Nitrogen" ScaleFactor="1.0" Value="0.154" />
        <Component Name="CarbonDioxide"  ScaleFactor="1.0" Value="0.0221" />
        <Component Name="Ethane"  ScaleFactor="1.0" Value="0.111" />
        <Component Name="Propane"  ScaleFactor="1.0" Value="0.031" />
        <Component Name="IsoButane"  ScaleFactor="1.0" Value="0.021" />
        <Component Name="NormalButane"  ScaleFactor="1.0" Value="0.0821" />
        <Component Name="IsoPentane"  ScaleFactor="1.0" Value="0.02821" />
        <Component Name="NormalPentane"  ScaleFactor="1.0" Value="0.01821" />
        <Component Name="Hexane"  ScaleFactor="1.0" Value="0.07821" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 2">
          <PressureFunction>
            <Pressure Name="PF 1" Tag="ns=2;s=1:AI1001?Pressure" Unit="barg" />
          </PressureFunction>
          <TemperatureFunction>
            <Temperature Name="PF 1" Tag="ns=2;s=1:AI1001?Temperature" Unit="C" />
          </TemperatureFunction>
          <Properties>
            <Property Tag="ns=2;s=1:AI1002?Result" Property="MolarConcentration" Type="single" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>
    -->
  </ConfigList>
</configuration>
