<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://lt-103009:62548/Quickstarts/DataAccessServer</OpcUrl>
  <OpcUser>username</OpcUser>
  <OpcPassword>password</OpcPassword>
  <Interval>10000.0</Interval>
  <ConfigList>
    <Config Name="GC 1">
      <Composition>
        <Component Name="Methane" Tag="ns=2;s=1:AI1001?A" ScaleFactor="0.01" />
        <Component Name="Nitrogen" Tag="ns=2;s=1:AI1001?J" ScaleFactor="0.01" />
        <Component Name="Carbon dioxide" Tag="ns=2;s=1:AI1001?K" ScaleFactor="0.01" />
        <Component Name="Ethane" Tag="ns=2;s=1:AI1001?B" ScaleFactor="0.01" />
        <Component Name="Propane" Tag="ns=2;s=1:AI1001?C" ScaleFactor="0.01" />
        <Component Name="Isobutane" Tag="ns=2;s=1:AI1001?D" ScaleFactor="0.01" />
        <Component Name="n-Butane" Tag="ns=2;s=1:AI1001?E" ScaleFactor="0.01" />
        <Component Name="Isopentane" Tag="ns=2;s=1:AI1001?F" ScaleFactor="0.01" />
        <Component Name="n-Pentane" Tag="ns=2;s=1:AI1001?G" ScaleFactor="0.01" />
        <Component Name="Hexane" Tag="ns=2;s=1:AI1001?I" ScaleFactor="0.01" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 1">
          <PressureFunction MathFunction="Max">
            <Pressure Name="PF 1" Tag="ns=2;s=1:AI1001?Pressure" Unit="barg" />
            <Pressure Name="PF 2" Tag="ns=2;s=1:AI1002?Pressure" Unit="barg" />
          </PressureFunction>
          <TemperatureFunction MathFunction="Max">
            <Temperature Name="PF 1" Tag="ns=2;s=1:AI1001?Temperature" Unit="C" />
            <Temperature Name="PF 2" Tag="ns=2;s=1:AI1002?Temperature" Unit="C" />
          </TemperatureFunction>
          <Properties>
            <Property Tag="ns=2;s=1:AI1001?Result" Property="MolarConcentration" Type="single" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>

    <Config Name="GC 2">
      <Composition>
        <Component Name="Methane" Tag="ns=2;s=1:AI1002?A" ScaleFactor="0.01" />
        <Component Name="Nitrogen" Tag="ns=2;s=1:AI1002?J" ScaleFactor="0.01" />
        <Component Name="Carbon dioxide" Tag="ns=2;s=1:AI1002?K" ScaleFactor="0.01" />
        <Component Name="Ethane" Tag="ns=2;s=1:AI1002?B" ScaleFactor="0.01" />
        <Component Name="Propane" Tag="ns=2;s=1:AI1002?C" ScaleFactor="0.01" />
        <Component Name="Isobutane" Tag="ns=2;s=1:AI1002?D" ScaleFactor="0.01" />
        <Component Name="n-Butane" Tag="ns=2;s=1:AI1002?E" ScaleFactor="0.01" />
        <Component Name="Isopentane" Tag="ns=2;s=1:AI1002?F" ScaleFactor="0.01" />
        <Component Name="n-Pentane" Tag="ns=2;s=1:AI1002?G" ScaleFactor="0.01" />
        <Component Name="Hexane" Tag="ns=2;s=1:AI1002?I" ScaleFactor="0.01" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 2">
          <PressureFunction>
            <Pressure Name="PF 1" Tag="ns=2;s=1:AI1001?Pressure" Unit="barg" />
          </PressureFunction>
          <TemperatureFunction>
            <Temperature Name="PF 1" Tag="ns=2;s=1:AI1001?Temperature" Unit="C" />
          </TemperatureFunction>
          <Properties>
            <Property Tag="ns=2;s=1:AI1002?Result" Property="MolarConcentration" Type="single" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>
  </ConfigList>
</configuration>
