<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.7.13" targetFramework="net461" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Client" version="1.4.367.75" targetFramework="net461" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Configuration" version="1.4.367.75" targetFramework="net461" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Core" version="1.4.367.75" targetFramework="net461" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Security.Certificates" version="1.4.367.75" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Formats.Asn1" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Topshelf" version="4.3.0" targetFramework="net461" />
</packages>