<?xml version="1.0" encoding="utf-8"?>
<Aga8Calc xsi:noNamespaceSchemaLocation="Aga8Calc.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://localhost:4850/freeopcua/server/</OpcUrl>
  <OpcUser>admin</OpcUser>
  <OpcPassword></OpcPassword>
  <DefaultNamespaceURI>http://karsto.sas.io</DefaultNamespaceURI>
  <Interval>250.0</Interval>
  <EquationOfState>Gerg2008</EquationOfState>
  <ConfigList>
    <Config Name="GC 1">
      <Composition>
        <Component Name="Methane" RelativePath="20AI0001/Methane" ScaleFactor="0.01" />
        <Component Name="Nitrogen" Identifier="i=30" ScaleFactor="0.01" />
        <Component Name="CarbonDioxide" Identifier="i=31" RelativePath="20AI0001/CarbonDioxide" ScaleFactor="0.01" />
        <Component Name="Ethane" StartIdentifier="i=28" RelativePath="Ethane" ScaleFactor="0.01" />
        <Component Name="Propane" ScaleFactor="0.01" Value="3.0" />
        <Component Name="IsoButane" RelativePath="20AI0001/IsoButane" ScaleFactor="0.01" />
        <Component Name="NormalButane" RelativePath="20AI0001/NormalButane" ScaleFactor="0.01" />
        <Component Name="IsoPentane" RelativePath="20AI0001/IsoPentane" ScaleFactor="0.01" />
        <Component Name="NormalPentane" RelativePath="20AI0001/NormalPentane" ScaleFactor="0.01" />
        <Component Name="Hexane" RelativePath="20AI0001/Hexane" ScaleFactor="0.01" />
        <Component Name="Heptane" RelativePath="20AI0001/Heptane" ScaleFactor="0.01" />
        <Component Name="Octane" RelativePath="20AI0001/Octane" ScaleFactor="0.01" />
        <Component Name="Nonane" RelativePath="20AI0001/Nonane" ScaleFactor="0.01" />
        <Component Name="Decane" RelativePath="20AI0001/Decane" ScaleFactor="0.01" />
        <Component Name="Hydrogen" RelativePath="20AI0001/Hydrogen" ScaleFactor="0.01" />
        <Component Name="Oxygen" RelativePath="20AI0001/Oxygen" ScaleFactor="0.01" />
        <Component Name="CarbonMonoxide" RelativePath="20AI0001/CarbonMonoxide" ScaleFactor="0.01" />
        <Component Name="Water" RelativePath="20AI0001/Water" ScaleFactor="0.01" />
        <Component Name="HydrogenSulfide" RelativePath="20AI0001/HydrogenSulfide" ScaleFactor="0.01" />
        <Component Name="Helium" RelativePath="20AI0001/Helium" ScaleFactor="0.01" />
        <Component Name="Argon" RelativePath="20AI0001/Argon" ScaleFactor="0.01" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 1">
          <PressureFunction MathFunction="Max">
            <Pressure Name="PF 1" RelativePath="PTPoint/Pressure" Unit="barg" />
            <Pressure Name="PF 2" Identifier="i=51" Unit="barg" />
          </PressureFunction>
          <TemperatureFunction MathFunction="Max">
            <Temperature Name="PF 1" Identifier="i=52" Unit="C" />
            <Temperature Name="PF 2" RelativePath="PTPoint/Temperature" Unit="C" />
          </TemperatureFunction>
          <Properties>
            <Property Identifier="i=54" Property="Density" Type="double" />
            <Property RelativePath="Props/MolarConcentration" Property="Density" Type="double" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>

    <Config Name="GC 2">
      <Composition>
        <Component Name="Methane" ScaleFactor="1.0" Value="0.821" />
        <Component Name="Nitrogen" ScaleFactor="1.0" Value="0.154" />
        <Component Name="CarbonDioxide" ScaleFactor="1.0" Value="0.0221" />
        <Component Name="Ethane" ScaleFactor="1.0" Value="0.111" />
        <Component Name="Propane" ScaleFactor="1.0" Value="0.031" />
        <Component Name="IsoButane" ScaleFactor="1.0" Value="0.021" />
        <Component Name="NormalButane" ScaleFactor="1.0" Value="0.0821" />
        <Component Name="IsoPentane" ScaleFactor="1.0" Value="0.02821" />
        <Component Name="NormalPentane" ScaleFactor="1.0" Value="0.01821" />
        <Component Name="Hexane" ScaleFactor="1.0" Value="0.07821" />
      </Composition>
      <PressureTemperatureList>
        <PressureTemperature Name="Point 2">
          <PressureFunction>
            <Pressure Name="PF 1" RelativePath="Props/MolarConcentration" Unit="barg" />
          </PressureFunction>
          <TemperatureFunction>
            <Temperature Name="PF 1" Identifier="ns=2;s=1:AI1001?Temperature" Unit="C" />
          </TemperatureFunction>
          <Properties>
            <Property Identifier="s=1:AI1002?Result" Property="MolarConcentration" Type="single" />
          </Properties>
        </PressureTemperature>
      </PressureTemperatureList>
    </Config>
  </ConfigList>
</Aga8Calc>
